.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: #f2f2f2;
  overflow: hidden;
}
